body {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 30px;
}

.logo-container {
    position: relative;
    display: block;
    margin: auto;
}

#form {
    
}
