body {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 81.25%;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2%;
    width: 90vw;
}

.logo-container {
    position: relative;
    display: block;
    margin: auto;
}

#logo {
    height: 92px;
    width: 272px;
}

#formbox {
    visibility: visible;
}

.resultBox{
    border: 2px solid black;
    width: 50%;
    margin-top: 20px;
    box-shadow: 2px 2px 5px gray;
}

.resultBox:hover{
    box-shadow: 2px 2px 5px rgb(91, 91, 255);
}
